* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* pt sans font family */
body {
    font-family: 'PT Sans', sans-serif;
   
}

.logo-list {
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
  
}

.btn-hamburger {
    border: 1px solid #0084fd;
    background-color: #0084fd;
    color: white;
}

.list-nav {
   
    display: none;
    list-style-type: none;
}
.list-nav ul li{
    float: right;
    display: inline;
    list-style-type: none;
    padding: 1.5rem;
    /* display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin: 10px; */
}
.list-nav a{
    text-decoration: none;
    color: white;
    
}

#get-started{
    padding: 10px;
    border-radius: 25px;
    color: black;
    background-color: white;
}
/* media query for nav bar */
@media screen and (min-width: 768px) {
    .logo img{
        height: 60px;}
}
@media screen and (min-width: 992px) {
    .logo-list{
        justify-content: space-around;
    }
    .list-nav {
        display: inline;
        width: 0 auto;
    }
   
    .btn-hamburger {
        display: none;
    }
}
/* media query for nav bar */

/* hero section */
.hero-section{
    width: 100%;
    padding: 20px;
    background-color: yellow;
    
}
.row-hero{
    border: red 2px solid;
    width: 70%;
    margin: 0 auto;
}
.col-hero{
    width: 100%;
    min-height: 41.8rem;
    background-color: blueviolet;
    border: black 2px solid;
    
}
@media screen and (min-width: 768px){
    .row-hero{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    
   .col-hero{
    width:calc(100% / 3);

   }
   .col-hero:first-child{
    width: 66.5%;
   }
}
@media screen and (min-width: 992px){
    
}
.strategic{
    background-color: aquamarine;
}
.row-planning{
    background-color: violet;
    height: 1000px;
    width: 63%;
    margin: 0 auto;
}
.col-planning{
    margin: 0 auto;
    width:100%;
    min-height: 500px;
    border:red solid 2px;
}
@media screen and (min-width: 768px){
    .row-planning{
       width: 70%;
    }
}

@media screen and (min-width: 992px){
    .row-planning{
        display: flex;
        justify-content: center;
    }
    .col-planning{
        width: 50%;
    }
}