* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pt sans font family */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
}

.logo-list {
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.btn-hamburger {
    border: 1px solid #0084fd;
    background-color: #0084fd;
    color: white;
}

.list-nav {

    display: none;
    list-style-type: none;
}

.list-nav ul li {
    float: right;
    display: inline;
    list-style-type: none;
    padding: 1.5rem;
    /* display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin: 10px; */
}

.list-nav a {
    text-decoration: none;
    color: white;

}

#get-started {
    padding: 10px;
    border-radius: 25px;
    color: black;
    background-color: white;
}

/* media query for nav bar */
/* @media screen and (min-width: 768px) {
    .logo img {
        min-height: 3.75rem;
    }
} */

@media screen and (min-width: 992px) {
    .logo-list {
        justify-content: space-around;
    }

    .list-nav {
        display: inline;
        width: 0 auto;
    }

    .btn-hamburger {
        display: none;
    }
}

/* /media query for nav bar fine */

/* hero section */

/* first card */

.hero-section {
    width: 95%;
    margin: 0 auto;
    padding: 2.5rem;
    background-color:white;
    display: flex;
    gap: 10%;
}

.row-hero {
    width: 95%;
    margin: 0 auto;
}
    

.col-hero {
    width: 100%;
    min-height: 18rem;
    background-color: #b5ddff;
    border:white 4px solid;
    border-radius: 24px;
    
    gap: 10px;
}


.top-hero {
    min-height: 18.75rem;
    margin: 2.5rem;
}
.top-hero h3{
    color: #0084fd;
}
.top-hero p{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    
    
}
.top-hero a{
    display: inline-block;
    width: 70%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 200;
    background-color: #0084fd;
    padding: 0.4rem;
    margin-left: 1.25rem;
    border-radius: 1.5rem;
}


.bottom-hero img {
    width: 22rem;
}

/* /first card */

/* second card */

.font-awesome{
   
    font-size: 6.25rem;
    width: 95%;
    margin: 0 auto;
    color: #0084fd;
    
    
}
.col-hero h3{
    color: #0084fd;
    text-align: center;
}
.col-hero p{
    line-height: 2;
}

@media screen and (min-width: 768px) {
    .row-hero {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    .col-hero {
        width: calc(100% / 3);
        border-radius: 25px;

    }

    .col-hero:first-child {
        width: 66.5%;
    }

    .bottom-hero img {
        width: 22rem;
        padding-left: 50px;
    }

    .top-hero {
        padding: 2.5rem;
        text-align: left;
    }

    /* .top-hero h3,p,a {
        margin: 10px;
    } */
    .font-awesome{
        display: inline-block;
        width:100%;
        min-height: 100px;
        padding-top: 1.8rem;
        padding-left: 1.3rem;
    }
    .col-hero h3{
        font-size: 1.25rem;
       
    }
    .col-hero p{
       font-size: 0.8rem;
       line-height: 1.2;
    }
  .top-hero a{
        display: inline-block;
        width: 80%;
        text-align: center;
          
    }
}

@media screen and (min-width: 992px) {
    .side-hero {
        display: flex;
        justify-content:flex-end;
        align-items: end;
        
    }
}
    .bottom-hero img {
        width: 12rem;
       
    }
   
    .top-hero a{
        display: inline-block;
        width: 60%;
        text-align: center;   
    }
    .top-hero p{
        margin-left: 10px,
    }
    .col-hero h3,p{
        font-size: 1.25rem;
    }
    .font-awesome{
        width:25%;
        padding-top: 1.8rem;
    }



/* main */

/*  debugging .strategic {
    background-color: aquamarine;
} */
.strategic-planning{
    background-color: #9792e4;
    width: 100%;
}
.row-planning {
   
    height: 89rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
    
}
.col-planning-left {
    margin: 0 auto;
    width: 100%;
    min-height: 31.25rem;
    color: white;
}
.col-planning-left h3{
    line-height: 3;
}
.col-planning-left p{
    padding-bottom: 1rem;
    line-height: 1.5;
}
.col-planning-left img{
    width: 100%;
}
.col-planning {
    margin: 0 auto;
    width: 100%;
    min-height: 40rem;
    background-color: white;
    border-radius: 2rem;
}
.col-planning img{
    width: 100%;
}
.col-planning h3{
    text-align: center;
}
.col-planning p{
    padding: 1rem;
}
.arrow-down{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-down a{
    display: inline-block;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    text-align: center;
    padding: 0.3rem;
    background-color: #9792e4;
}

@media screen and (min-width: 768px) {
    .row-planning {
        width: 80%;
       height: 98rem;
    }
    .col-planning-left{
        width: 90%;
    }
    .col-planning{
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    
    .row-planning {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 88rem;
        padding-bottom: 2rem;
    }

    .col-planning {
        width: 30%;
        position:relative;
        top: 10rem;
        
       
    }
    .col-planning-left img{
        width: 100%;
        
    }
    .col-planning-left{
        width: 35%;
        margin: 0 auto;
        /* margin-left: 10rem; */
    }
}

/*  */
.row-committed {
    background-color: white;
    width: 80%;
    min-height:50rem;
    margin: 0 auto;
    padding: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   
    
}
.row-committed h3{
    display: block;
    color: #9792e4;
     width: 100%;
     margin: 0 auto;
     font-size: 2rem;
     text-align: center;
}

.row-committed p{
    display: block;
    width: 100%;
    text-align: center;
}

.col-committed {
    margin: 0 auto;
    width: 100%;
    min-height: 18.5rem;
    background-color: #9792e4;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}
.col-committed img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover; 
}
.col-committed p{
    color: white;
}
span{
    color: white;
}

@media screen and (min-width: 768px) {
    
    .img-ray{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;   
    }
    .col-committed p{
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .col-committed {
        margin: 0 auto;
        width: 80%;
        
       
        
    }
}


/* benefits section */
.benefits{
    background-color: #9792e4;
}
.row-benefits{
    
    min-height: 50rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.col-benefits{
    background-color: white;
    width: 70%;
    min-height: 10rem;
    margin: 0 auto;
    border-radius: 25px;
    padding: 30px;
}
.title-benefits{
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}
.number{
    font-size: 3rem;
    color: #9792e4;
}
h4{
    color: #9792e4;
    margin-top: 1rem;
}
.description{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.more a {
    background-color: #9792e4;
    padding: .5rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    text-decoration: none;
    border-radius: 1.5rem;
    color: white;
}
@media screen and (min-width: 768px){
    .row-benefits{
       display: flex;
       width: 100%;

    }
    .col-benefits{
      width: 45%;
      

    }
}
@media screen and (min-width: 992px){
    .row-benefits{
        display: flex;
        width: 60%;
        margin: 0 auto;
 
     }
     .col-benefits{
       width: calc(100% / 3 - .7rem);
       
 
     }
}
/* working section */
.col-working-left{
    border: 3px solid red;
}
.col-working-right{
    border: 3px solid red;
}
@media screen and (min-width: 768px){
    .row-working{
        display: flex;
    }
}